# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [7]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}
fields = {"_id":1, "AddressLine1":1, "AddressLine2":1, "AddressLine3":1, "BusinessName":1, "BusinessType":1, "BusinessTypeID":1, 
          "PostCode":1, "RatingDate":1, "RatingValue":1, "geocode":1, "scores":1}

# sort in descending order by Hygiene
sort = [("scores.Hygiene", -1)]

# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query))

# Display the first document in the results using pprint
print()
pprint(establishments.find(query, fields).sort(sort)[0])

41

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingValue': 0,
 '_id': ObjectId('679a5a30778fe7b0bebfc6d5'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [10]:
# Convert the result to a Pandas DataFrame
results = establishments.find(query, fields).sort(sort)
df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print(len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

41

,_id,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,PostCode,RatingValue,RatingDate,scores,geocode
0,679a5a30778fe7b0bebfc6d5,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,BN21 1BU,0,2021-09-23T00:00:00,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...","{'longitude': 0.27694, 'latitude': 50.769705}"
1,679a5a31778fe7b0bebfca56,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,CO14 8HN,0,2022-06-22T00:00:00,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...","{'longitude': 1.278721, 'latitude': 51.857536}"
2,679a5a32778fe7b0bebfcd60,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,CO15 6AD,0,2021-08-13T00:00:00,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...","{'longitude': 1.15927, 'latitude': 51.789429}"
3,679a5a32778fe7b0bebfcf4e,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,BN25 1PG,1,2021-12-23T00:00:00,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...","{'longitude': 0.10202, 'latitude': 50.770885}"
4,679a5a32778fe7b0bebfcf5d,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,BN25 1HP,1,2021-10-07T00:00:00,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...","{'longitude': 0.101446, 'latitude': 50.770724}"
5,679a5a36778fe7b0bebfd8fc,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,SS1 2PP,0,2022-07-21T00:00:00,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...","{'longitude': 0.736349, 'latitude': 51.541448}"
6,679a5a36778fe7b0bebfdb1d,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,SS1 1BW,0,2022-08-03T00:00:00,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...","{'longitude': 0.7121671, 'latitude': 51.5350065}"
7,679a5a3c778fe7b0bebff048,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,SS6 9HN,0,2022-03-23T00:00:00,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...","{'longitude': 0.602364, 'latitude': 51.591515}"
8,679a5a3d778fe7b0bebff48c,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,TN8 7AH,1,2022-03-04T00:00:00,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...","{'longitude': 0.146449998021126, 'latitude': 5..."
9,679a5a3f778fe7b0bebffc9e,F & S,Retailers - other,4613,,81 Southernhay,Basildon,SS14 1EU,0,2021-07-26T00:00:00,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...","{'longitude': 0.462307, 'latitude': 51.57005}"

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [11]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {"LocalAuthorityName": {"$regex": "London"},
        "RatingValue": {"$gte": 4}}
fields = {"_id":1, "AddressLine1":1, "AddressLine2":1, "AddressLine3":1, "BusinessName":1, "BusinessType":1, "BusinessTypeID":1, 
          "PostCode":1, "RatingDate":1, "RatingValue":1, "geocode":1, "scores":1}

# sort in descending order by Hygiene
sort = [("scores.Hygiene", -1)]

# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query))

# Display the first document in the results using pprint
print()
pprint(establishments.find(query, fields).sort(sort)[0])

33

{'AddressLine1': 'Air side London City Airport',
 'AddressLine2': 'London',
 'AddressLine3': '',
 'BusinessName': 'Brick Lane Brews',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'PostCode': 'E16 2PX',
 'RatingDate': '2019-01-18T00:00:00',
 'RatingValue': 4,
 '_id': ObjectId('679a5a4a778fe7b0bec02941'),
 'geocode': {'latitude': 51.503733, 'longitude': 0.048006},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 10, 'Structural': 5}}

In [12]:
# Convert the result to a Pandas DataFrame
results = establishments.find(query, fields).sort(sort)
df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

33

,_id,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,PostCode,RatingValue,RatingDate,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement,geocode.longitude,geocode.latitude
0,679a5a4a778fe7b0bec02941,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,E16 2PX,4,2019-01-18T00:00:00,10,5,5,0.048006,51.503733
1,679a5a38778fe7b0bebfe0f0,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,ME12,4,2021-10-18T00:00:00,5,10,5,0.508551,51.369321
2,679a5a4b778fe7b0bec02b3c,Caffè Nero,Restaurant/Cafe/Canteen,1,London City Airport Airside Departure Lounge,Royal Docks London,,E16 2PJ,5,2021-11-12T00:00:00,5,5,0,0.040518,51.504808
3,679a5a4c778fe7b0bec02ddc,Mv Sunborn Yacht Hotel,Hotel/bed & breakfast/guest house,7842,Western Gateway,Royal Victoria Dock,,E16 1XL,5,2021-11-19T00:00:00,5,5,5,0.027107,51.508170
4,679a5a4c778fe7b0bec02fe7,Good Hotel London,Other catering premises,7841,Western Gateway Royal Victoria Dock,Floating Platform next to Emirates Cable Car,,E16 1FA,5,2021-07-16T00:00:00,5,5,5,0.017920,51.507681
5,679a5a39778fe7b0bebfe416,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,TN4 8HR,5,2021-05-14T00:00:00,0,5,0,0.249256,51.123623
6,679a5a3c778fe7b0bebfef63,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,SS7 1NF,4,2018-11-02T00:00:00,0,0,10,0.561954,51.543831
7,679a5a3f778fe7b0bebffd63,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,RM18 7EH,5,2020-12-04T00:00:00,0,5,0,0.346337,51.464066
8,679a5a3f778fe7b0bebffd64,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,RM18 7EH,5,2018-11-02T00:00:00,0,0,0,0.346325,51.464078
9,679a5a41778fe7b0bec0046c,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,RM15 5QY,5,2016-08-23T00:00:00,0,0,0,0.287555,51.504071

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [14]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

query = {"geocode.latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
        "geocode.longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search},
        "RatingValue": 5}
fields = {"_id":1, "AddressLine1":1, "AddressLine2":1, "AddressLine3":1, "BusinessName":1, "BusinessType":1, "BusinessTypeID":1, 
          "PostCode":1, "RatingDate":1, "RatingValue":1, "geocode":1, "scores":1}
sort = [("scores.Hygiene", 1)]
limit = 5

# Print the results
print(establishments.count_documents(query))

print()
pprint(establishments.find(query, fields).sort(sort).limit(limit)[0])

87

{'AddressLine1': '144 - 146 Plumstead High Street',
 'AddressLine2': '',
 'AddressLine3': 'Plumstead',
 'BusinessName': 'Iceland',
 'BusinessType': 'Retailers - supermarkets/hypermarkets',
 'BusinessTypeID': 7840,
 'PostCode': 'SE18 1JQ',
 'RatingDate': '2019-11-13T00:00:00',
 'RatingValue': 5,
 '_id': ObjectId('679a5a49778fe7b0bec01f07'),
 'geocode': {'latitude': 51.4871482849121, 'longitude': 0.0924199968576431},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}}

In [15]:
# Convert result to Pandas DataFrame
results = establishments.find(query, fields).sort(sort).limit(limit)
df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

5

,_id,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,PostCode,RatingValue,RatingDate,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement,geocode.longitude,geocode.latitude
0,679a5a49778fe7b0bec01f34,Volunteer,Pub/bar/nightclub,7843,130 - 132 Plumstead High Street,,Plumstead,SE18 1JQ,5,2019-08-05T00:00:00,0,0,0,0.092080,51.487344
1,679a5a49778fe7b0bec01f4c,Plumstead Manor Nursery,Caring Premises,5,Plumstead Manor School Old Mill Road,,Plumstead,SE18 1QG,5,2021-06-16T00:00:00,0,0,5,0.085994,51.481518
2,679a5a49778fe7b0bec01f4f,Atlantic Fish Bar,Takeaway/sandwich shop,7844,35 Lakedale Road,,Plumstead,SE18 1PR,5,2021-06-16T00:00:00,0,0,5,0.091216,51.486730
3,679a5a49778fe7b0bec01f07,Iceland,Retailers - supermarkets/hypermarkets,7840,144 - 146 Plumstead High Street,,Plumstead,SE18 1JQ,5,2019-11-13T00:00:00,0,5,5,0.092420,51.487148
4,679a5a49778fe7b0bec01f17,Howe and Co Fish and Chips - Van 17,Mobile caterer,7846,Restaurant And Premises 107A Plumstead High St...,,Plumstead,SE18 1SE,5,2021-11-11T00:00:00,0,0,0,0.092537,51.487534

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [16]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {'$match': {'scores.Hygiene': 0
                         }
              }

group_query = {'$group': {'_id': {
                                    'LocalAuthorityName': "$LocalAuthorityName"
                                },
                          'num_restaurants': { '$sum': 1 }, 
                         }
              }

sort_values = {'$sort': { 'num_restaurants': -1
                        }
              }

pipeline = [match_query, group_query, sort_values]

# Print the number of documents in the result
results = list(establishments.aggregate(pipeline))

# Print the first 10 results
pprint(results[0:10])

[{'_id': {'LocalAuthorityName': 'Thanet'}, 'num_restaurants': 1130},
 {'_id': {'LocalAuthorityName': 'Greenwich'}, 'num_restaurants': 882},
 {'_id': {'LocalAuthorityName': 'Maidstone'}, 'num_restaurants': 713},
 {'_id': {'LocalAuthorityName': 'Newham'}, 'num_restaurants': 711},
 {'_id': {'LocalAuthorityName': 'Swale'}, 'num_restaurants': 686},
 {'_id': {'LocalAuthorityName': 'Chelmsford'}, 'num_restaurants': 680},
 {'_id': {'LocalAuthorityName': 'Medway'}, 'num_restaurants': 672},
 {'_id': {'LocalAuthorityName': 'Bexley'}, 'num_restaurants': 607},
 {'_id': {'LocalAuthorityName': 'Southend-On-Sea'}, 'num_restaurants': 586},
 {'_id': {'LocalAuthorityName': 'Tendring'}, 'num_restaurants': 542}]

In [17]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print(len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

55

                                         _id  num_restaurants
0           {'LocalAuthorityName': 'Thanet'}             1130
1        {'LocalAuthorityName': 'Greenwich'}              882
2        {'LocalAuthorityName': 'Maidstone'}              713
3           {'LocalAuthorityName': 'Newham'}              711
4            {'LocalAuthorityName': 'Swale'}              686
5       {'LocalAuthorityName': 'Chelmsford'}              680
6           {'LocalAuthorityName': 'Medway'}              672
7           {'LocalAuthorityName': 'Bexley'}              607
8  {'LocalAuthorityName': 'Southend-On-Sea'}              586
9         {'LocalAuthorityName': 'Tendring'}              542